/* Постоянные клиенты */

.clients {
  padding: 60px 0px;
  // padding: 94px 0px;
}

.clients__title {
  height: 33px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  // width: 210px;
  // height: 92px;

  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}

.clients-list__link {
  display: flex;
  color: var(--svg-bgn);
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--third-text-color);
    border: 1px solid;
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
