/*Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--primary-background);
  @media screen and (max-width: 767px) {
    width: 100%;
    text-align: center;
  }
}

.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-left {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-list__link {
  font-size: 14px;
  line-height: 1.46;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--third-text-color);
  }
}

.footer-left__text {
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-title-color);
}

.footer-list__item {
  margin-bottom: 9px;
}

.footer-left__logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  color: var(--third-text-color);
}

.footer-left__logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  color: var(--primary-title-color);
}

.footer-left__address {
  font-style: normal;
}

.footer-right {
  margin-right: auto;
  align-items: center;
}

.join {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-social-list {
  display: flex;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    justify-content: center;
  }
}

.footer-social-list__social-item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}

.footer-social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--third-background);
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-background);
}

.footer-subscribe {
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.subscribe {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-title-color);
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.form-footer {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.form-footer__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.07;
  letter-spacing: 0.03em;
  background-color: var(--primary-background);
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border: 1px solid var(--third-text-color);
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.form-footer__btn {
  position: relative;
  // display: flex;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--third-background);
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: var(--card-portfolio-shadow);
    background-color: var(--fourth-background);
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin: 0 auto;
  }
}

.footer-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}
