/* Шапка сайта*/
.header {
  border-bottom: 1px solid var(--fourth-text-color);
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header-list {
  display: flex;
  text-align: center;
  margin-left: auto;
}

.header-contacts {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    margin-left: auto;
  }
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.header-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--third-text-color);
  }
  &.current {
    color: var(--third-text-color);
  }
}

.header-contacts__link {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--third-text-color);
  }
  @media screen and (min-width: 768px) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--third-text-color);
}

.header__span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--primary-text-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  bottom: -1px;
  background-color: var(--third-background);
}

.menu-container {
  position: absolute;
  padding: 48px 40px;
  top: 100%;
  left: 0;
  width: 100%;
}
