/* Герой */
.hero {
  margin: auto;
  display: flex;
  height: 400px;
  max-width: 1600px;
  align-items: center;
  // background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mob-1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mob-2x-min.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tab-1x-min.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-size: cover;
      background-image: url(../images/hero-tab-2x-min.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bgn.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgn-2x-min.jpg);
    }
  }
}

.hero__container {
  text-align: center;
}

.hero__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 31px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--third-background);
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: var(--card-portfolio-shadow);
    background-color: var(--fourth-background);
  }
}

.hero__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
