.menu-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;

  //   background-color: transparent;
  margin-left: auto;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mob-menu__container {
  width: 100%;
  height: 100%;
}
