.menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  &:hover,
  &:focus {
    color: var(--third-text-color);
  }
}
.menu-button.js-close-menu {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
  overflow-y: scroll;

  top: 0;
  left: 0;
  width: 100vw;
  height: 101vh;
  padding: 48px 40px;
  z-index: 2;
  background-color: var(--main-background);

  transform: translateX(200%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.mob-menu__content {
  margin-bottom: 10px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  &.current {
    color: var(--third-text-color);
  }
}

.mob-menu-bottom {
  margin-bottom: 64px;
}

// .mob-menu__bottom-item:not(:last-child) {
//   margin-bottom: 32px;
// }

.mob-menu__bottom-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.mob-menu__tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 7vw;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.mob-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-bottom-social__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mob-bottom-social__item {
}

.mob-bottom-social__item:not(:last-child) {
  text-align: start;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-bottom-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
