/*Команда */

.team {
  background: var(--secondary-background);

  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  width: 264px;
  height: 33px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  color: var(--secondary-title-color);
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}

.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  color: var(--svg-bgn);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--third-background);
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--main-background);
  }
}

.team-list__item {
  margin-bottom: 30px;
}

.team-list__item {
  border-radius: 4px;
  box-shadow: var(--card-portfolio-shadow);
  background-color: var(--main-background);
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.card-content-team {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.card-content-team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: calc(19 / 16);
  text-align: center;
  background-color: var(--main-background);
  color: var(--secondary-title-color);
}

.card-content-team__text {
  margin-bottom: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-text-color);
}
